  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 10px;
  }

  .sidenav .column-description {
    padding: 0px 0px 6px 6px;
    font-size: 18px;
    color: white;
    border-bottom: 1px solid white;
  }
  
  .sidenav label {
    padding: 6px 6px 6px 0px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    overflow-y: auto;
    border-bottom: 1px solid white;
  }

  .sidenav input[type=checkbox] {
      visibility: hidden;
  }
  
  .sidenav label:hover, .sidenav :checked + span {
    color: white;
    cursor: pointer;
  }

  /* .sidenav :checked + span { 
      color: #f1f1f1; 
   } */
  
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
  }