:root {
  --border-radius: 5px;
  --color: #5F5566;
  --color-bg: lightgray;
  --color-bg-secondary: black;
  --color-text: #000;
  --color-text-secondary: white;
  --color-text-disabled: gray;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-size: 20px;
  --hover-brightness: 1.2;
  --line-height: 1.5;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: var(--font-size);
  margin: 0;
  overflow-x: hidden;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--color-bg-secondary);
  overflow-x: hidden;
}

.sidenav .column-description, .sidenav label {
  border-bottom: 1px solid white;
  padding: 6px;
}

.sidenav .column-description {
  color: var(--color-text-secondary);
  font-size: 1.1rem;
}

.sidenav label {
  color: var(--color-text-disabled);
  display: block;
  overflow-y: auto;
}

.sidenav input[type=checkbox] {
  visibility: hidden;
  display: none;
}

.sidenav label:hover, .sidenav :checked + label {
  cursor: pointer;
  background-color: var(--color);
}

.sidenav label:hover {
  filter: brightness(var(--hover-brightness));
}

.sidenav :checked + label {
  color: var(--color-text-secondary);
}

.sidenav button {
  display: block;
  margin: 15px 5px 5px 40px;
  width: 7rem;
}

.main {
  margin-left: 250px; /* Same as the width of the sidenav (min 200px) */
}

form {
  width: fit-content;
}

button {
  background-color: var(--color);
  color: var(--color-text-secondary);
  border: 2px solid var(--color);
  border-radius: var(--border-radius);
  font-size: 1rem;
  font-family: var(--font-family);
  padding: 5px 20px;
  outline: none;
}

button:hover {
  cursor: pointer;
  filter: brightness(var(--hover-brightness));
}

#mapid { 
  height: 430px;
  margin-bottom: 3rem;
  margin-right: 2rem; 
}

form table td {
  text-align: center;
}

form table tr td:first-child, .justify {
  display: flex; 
  justify-content: space-between;
}

form table td, form table th {
  padding: 5px;
}

form table tr td:first-child label {
  padding-right: 30px;
}

input[type=number], input[type=date], input[type=text], select {
  width: 10rem;
  padding: 0;
  height: 25px;
  font-size: 15px;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-bg-secondary);
}

form input[type=checkbox] {
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
}

.advanced-label {
  margin-right: 1rem;
}

.additional-padding {
  padding-left: 7px;
  padding-top: 5px;
}

.additional-padding select {
  margin-left: 5rem;
  margin-right: 2rem;
}

.additional-padding input[type=number] {
  margin-left: 6rem;
}

.additional-padding #descending {
  margin-left: 1rem;
}

.form-buttons {
  padding-top: 2rem;
  padding-left: 5rem;
  padding-bottom: 1rem;
}

#submit-btn {
  margin-right: 4rem;
}

.results table {
  margin-right: 2rem;
  margin-bottom: 3rem;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: white;
  text-align: center;
}

.results table, .results td, .results th {
  border: 1px solid black;
  padding: 0px 5px;
}

.results th {
  background-color: var(--color);
  color: var(--color-text-secondary);
}

.results tr:nth-of-type(even) {
  background-color: var(--color-bg);
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-left: 45%;
  margin-bottom: 10%;
  margin-top: 10%;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid black;
  border-color: black transparent black transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}