  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 10px;
  }

  .sidenav .column-description {
    padding: 0px 0px 6px 6px;
    font-size: 18px;
    color: white;
    border-bottom: 1px solid white;
  }
  
  .sidenav label {
    padding: 6px 6px 6px 6px;
    font-size: 20px;
    color: gray;
    display: block;
    overflow-y: auto;
    border-bottom: 1px solid white;
  }

  .sidenav input[type=checkbox] {
      visibility: hidden;
      display: none;
  }
  
  .sidenav label:hover, .sidenav :checked + label {
    color: white;
    cursor: pointer;
    background-color: #5F5566;
  }

  .sidenav .select-btn {
    background-color: #5F5566;
    display: block;
    cursor: pointer;
    color: white;
    font-size: 15px;
    padding: 5px 20px;
    margin: 15px 5px 5px 40px;
  }

  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
  }

  body {
    background-color: #80ADA0;
  }